* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    /*height: 100%;*/
}

.container {
    max-width: 1100px;
    margin: auto;
}

.header {
    background-color: #171717;
    padding: 40px;
}

.headerstyle {
    display: flex;
    justify-content: space-between;
}

.item {
    border: #E4B564 1px solid;
    padding: 10px 11px 10px 25px;
}
.item-header{
    align-content: center;
    text-align: center;

}
.call {
    color: #E4B564;
    font-size: 18px;
}

main {
    background-color: #171717;
}

.title {
    padding-top: 89px;
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
}

.text {
    margin-top: 43px;
    margin-bottom: 42px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
}

.container {
    /*width: 1100px;*/
    margin: auto;
    background-color: #171717;
}

.grid_section {
    display: grid;
    grid-template-columns: repeat(4, 165px);
    grid-template-rows: repeat(2, 300px);
    gap: 20px;
    grid-template-areas:
     "item1 item1 item2 item2 item3 item3"
     "item4 item4 item4 item5 item5 item5";
}

.box1 {
    background: #634F2C;
    grid-area: item1;
}

.box2 {
    background: #B4A385;
    grid-area: item2;
}

.box3 {
    background: #E4B564;
    grid-area: item3;
}

.box4 {
    background: #635A4A;
    grid-area: item4;
}

.box5 {
    background: #B08C4D;
    grid-area: item5;
}

.text-style {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
}

.title-two {
    margin-top: 161px;
    padding-bottom: 84px;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
}

.section{
    padding-bottom: 191px;
}
.grid_section_two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 120px 160px 120px 120px 80px;
    grid-gap: 30px;
    grid-template-areas:
   "box1 box3 box5"
   "box1 box3 box5"
   "box2 box3 box6"
   "box2 box4 box6"
   "box2 box4 box7"
   "box2 box4 box7"
  ;
}

.item-one {
    background: #0E0E0E;
    grid-area: box1;
}

.item-two {
    background: #242424;
    grid-area: box2;
}

.item-three {
    background: #1F1F1F;
    grid-area: box3;
}

.item-four {
    background: #1F1F1F;
    grid-area: box5;

}

.item-five {
    background: #E4B564;
    grid-area: box4;
}

.item-six {
    background: #0E0E0E;
    grid-area: box6;
}

.item-seven {
    background: #0A0909;
    grid-area: box7;
}


.text-decor {
    padding-top: 40px;
    padding-left: 20px;
    display: grid;
    align-items: start;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-decoration {
    padding-top: 40px;
    padding-left: 20px;
    display: grid;
    align-items: start;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer {
    background: #0E0E0E;
}

.container-1 {
    width: 1100px;
    margin: auto;
}

.titel-3 {
    padding-top: 172px;
    padding-bottom: 72px;
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
}

.grid_section_three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 120px 160px 120px 120px;
    grid-template-areas:
    "it1 it2 it3 "
    "it1 it2 it3 "
    "it4 it5 it6"
    "it4 it5 it6";
}

.it1 {
    grid-area: it1;
    background: #634F2C;
}

.it2 {
    grid-area: it2;
    background: #E8D2ABC2;
}

.it3 {
    grid-area: it3;
    background: #E4B564;
}

.it4 {
    grid-area: it4;
    background: #635A4A;
}

.it5 {
    grid-area: it5;
    background: #B08C4D;
}

.it6 {
    grid-area: it6;
    background: #634F2C;
}

.grid-item {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.span>grid-item {
    text-align: center;
    align-items: center;
}

.text-grid {
    color: #FFF;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    padding-top: 5px;
}
.padding-logo{
    padding-left: 80px;
    padding-bottom: 10px;
}
.padding-logo-2 {
    padding-left: 23px;
    padding-bottom: 56px;
}
